/* Background Color Start */

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: #ff0000;
}

.bg-blue {
    background-color: blue;
}

.bg-smoothblue {
    background-color: #AACEDB;
}

.bg-purple {
    background-color: #800080;
}

.bg-seagreen {
    background-color: #2e8b57;
}

.bg-sandybrown {
    background-color: sandybrown;
}

.bg-gold {
    background-color: #ffd700;
}

.bg-darkorange {
    background-color: #ff8c00;
}

.bg-magenta {
    background-color: #EA3788;
}

.bg-lightcoral {
    background-color: #E56B70;
}

.bg-salmonpink {
    background-color: #F391A0;
}

.bg-darkpurple {
    background-color: #361134;
}
.bg-grey {
    background-color: #808080;
}

.bg-lightgreen {
    background-color: #ABB65C;
}

.bg-beige {
    background-color: #E0D3BB;
}

.bg-energyorange {
    background-color: #DC6653;
}

/* Background Color End */


/* Div Size Start */
.div-size-square {
    width: 100px;
    height: 100px;
}

.div-size-height {
    height: 240px;
}

/* Circle Div Start */
.circle-shape-div-small {
    height: 200px;
    width: 200px;
    font-size: 24px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-top: 72px;

}

.circle-shape-div-big {
    height: 400px;
    width: 400px;
    font-size: 40px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-top: 168px;

}

/* Circle Div End */

/* Typo Center Start */
.text-center{
    text-align: center;
}
/* Typo Center End */